# Django
SECRET_KEY=django_project_key
DJANGO_SETTINGS_MODULE=config.settings.your_environment # replace 'your_environment' with: local / production
ALLOWED_HOSTS=localhost,127.0.0.1


# Database
DB_NAME=name_of_db
DB_USER=name_of_user
DB_PASSWORD=database_password
DB_HOST=localhost
DB_PORT=5432


# Redis
REDIS_URL=redis://localhost:6379/0


#Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password
DEFAULT_FROM_EMAIL=noreply@platform.com

# Coverage / CI
GIST_COVERAGE_TOKEN=secret_key_from_github_for_gist
GIST_COVERAGE_ID=gist_id_from_secrets_github

SHOW_API_DOCS=True

MAX_DATASET_UPLOAD_SIZE = 33554432 # 32MB default
